<!-- <h1>This is your order confirmation</h1> -->

<h1> Your Order </h1>
<p>Email: <%= @order.user.email %></p>
<p>Order ID: <%= @order_id %></p>
<% @order.products.each do |product| %>
  <p>Item: <%= product.name %></p>
  <p>Quantity: <%= @order.carted_products.find_by(product_id: product.id).quantity %></p>
<% end %>

