<h2>Here are all of the products currently in stock:</h2>

<% @all_products.each do |product| %>
  <p><%= product.name %></p>
  <p><%= product.price %></p>
    <p><%= product.description %></p>
    <hr>
<% end %>