<%= form_tag "/product-created", method: :post do %>
<p>Product Name<input type="text" name="product_name"></p>
<p>Price<input type="integer" name="product_price"></p>
<p>Image<input type="string" name="product_image"></p>
<p>Description <input type="string" name="product_description"></p>
<p><input type="submit" name="Create Product"></p>
<% end %>